html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#Splash {
	height: 100vh;
  color: white;
}

#BgV {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	z-index: -1;
	width: 100%;

}


@media (min-aspect-ratio: 16/9) {
	#BgV {
		width: 100%;
		height: auto;
	}
}



#AboutJumbo, #Contact {
	color: white;
	background-color: transparent;
	
}



#About {
	background-color: rgba(255,255,255,0.001);
}

#Skillgrid {
	background-color: rgba(255,255,255,0.001);
	padding-bottom: 50px;

}

#fswd {
	border-bottom: 5px solid #eaeaea;
}



